* {
    box-sizing: border-box;
}

@font-face {
    font-family: "dubiel";
    src: url('../static/fonts/DUBIEL.TTF');
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../static/fonts/josefin_sans/JosefinSans-Regular.ttf')
}

:root {
    --navigation-background: #353535;
    --main-page-background-color: rgba(255, 255, 255, 0.651);
    --accent-color: #33cc80; 
    --main-font: #3a3a3a;
    --active-link: #494949;
    --border-bottom-size: 5px;
}

html {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    
    height: 100%;
    display: grid;
    grid-template-areas:    
                            'nav nav nav nav nav'
                            'left-sidebar content content content right-sidebar';
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 70px 1fr;
    margin: 0;
    padding: 0;
}

nav {
    grid-area: nav;
    display: flex;
    background-color: var(--navigation-background);
    flex-direction: row;
    height: 70px;
    width: 100%;
}

#nav-link-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: 30%;
}

#nav-link-buttons button {
    flex-grow: 1;
}

nav img {
    height: 100%;
    padding: 10px;
}

nav button {
    border: none;
    width: 120px;
    font-size: 1.2rem;
    background-color: var(--navigation-background);
    border-top: var(--border-bottom-size) solid var(--navigation-background);
    border-bottom: var(--border-bottom-size) solid var(--navigation-background);
    color: white;
}

@media screen and (max-width: 800px) {
    
    #nav-link-buttons {
        width: 100%;
    }

    nav button {
        width: 25%;
        font-size: 1rem;
    }

    .container {

        grid-template-areas:    
        'left-sidebar content content content right-sidebar'
        'nav nav nav nav nav';
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 1fr 70px;
    }
}

nav button:hover {
    color: rgb(0, 0, 0);
    background-color: var(--accent-color);
    border-top: var(--border-bottom-size) solid var(--accent-color);
    border-bottom: var(--border-bottom-size) solid var(--accent-color);
}



.with-background-link {
    border-bottom: var(--border-bottom-size) solid var(--accent-color);
}


.main-content {
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-areas: "left main right";
    grid-template-columns: 10% 80% 10%;
    color: var(--main-font);
}

@media screen and (max-width: 800px) {
    
    .main-content {
        grid-template-columns: 0% 100% 0%;
    }
}

/* ================= HOME ================= */

.main-content .home {
    height: 100%;
    grid-area: main;
    position: relative;
    left: 100vw;
    transition:left 0.2s linear;
    display: grid;
    grid-template-areas: "img name"
                         "img title"
                         "description description"
                         "contact contact";
    align-items: center;
    justify-items: center;
}

.home h1 {
    grid-area: name;
    font-size: 4.5rem;
}

.home h2 {
    grid-area: title;
    font-size: 2rem;
}

.home .description {
    grid-area: description;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'JosefinSans';
}

.home > img {
    grid-area: img;
    border-radius: 50%; 
    width: 300px;
    height: 300px;
    padding: 20px;
}

.contact-info img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.linkedin-link {
    padding-left: 250px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-font);
    
}

.email-info {
    display: flex;
    align-items: center;
}

.home .contact-info {
    grid-area: contact;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    
    .main-content .home {
        grid-template-areas: "img img"
        "name name"
        "title title"
        "description description"
        "contact contact";
        width: 100%;

        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .home > img {
        border-radius: 50%; 
        width: 200px;
        height: 200px;
        padding: 10px;
    }

    .home h1 {
        font-size: 2rem;
    }
    
    .home h2 {
        font-size: 1rem;
    }

    .home .description {
        font-size: 1rem;
    }

    .linkedin-link {
        padding-left: 0;      
    }

    .home .contact-info {
        flex-direction: column;
    }

    .home .contact-info img {
        width: 25px;
        height: 25px;
    }
}




.main-content .projects {
    grid-area: main;
    position: relative;
    left: 100vw;
    background-color: yellow;
    transition:left 0.2s linear;
    
}

.main-content .about-me {
    grid-area: main;
    position: relative;
    left: 100vw;
    background-color: rgb(54, 232, 238);
    transition:left 0.2s linear;

}

.main-content .skills {
    position: relative;
    left: 100vw;
    grid-area: main;
    background-color: rgb(43, 255, 0);
    transition: position;
    transition:left 0.2s linear;
}



.in-focus {
    position: relative;
    left: 0 !important;
}

@media screen and (max-width: 700px) {


}