* {
    box-sizing: border-box;
}

@font-face {
    font-family: "dubiel";
    src: url('../static/fonts/DUBIEL.TTF');
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../static/fonts/josefin_sans/JosefinSans-Regular.ttf')
}

:root {
    --navigation-background: #353535;
    --main-page-background-color: rgba(255, 255, 255, 0.651);
    --accent-color: #33cc80; 
}

html {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    
    height: 100%;
    display: grid;
    grid-template-areas:    
                            'nav nav nav nav nav'
                            'left-sidebar content content content right-sidebar';
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 70px 1fr;
    margin: 0;
    padding: 0;
}

nav {
    grid-area: nav;
    display: flex;
    background-color: var(--navigation-background);
    flex-direction: row;
    height: 70px;
    width: 100%;
}

#nav-link-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: 30%;
}

#nav-link-buttons button {
    border-left: 1px #494949 solid;
    flex-grow: 1;
}

nav img {
    height: 100%;
    padding: 10px;
}

nav button {
    border: none;
    width: 120px;
    font-size: 1.2em;
    background-color: var(--navigation-background);
    color: white;
}

nav button:hover {
    color: rgb(0, 0, 0);
    background-color: var(--accent-color);
}


.main-content {
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-areas: "left main right";
    grid-template-columns: 10% 80% 10%;
}


.main-content .projects {
    grid-area: main;
    position: relative;
    left: 100vw;
    background-color: yellow;
    transition:left 0.2s linear;
    
}

.main-content .about-me {
    grid-area: main;
    position: relative;
    left: 100vw;
    background-color: rgb(54, 232, 238);
    transition:left 0.2s linear;

}

.main-content .home {
    grid-area: main;
    position: relative;
    left: 100vw;
    background-color: rgb(255, 27, 65);
    transition:left 0.2s linear;
}

.main-content .skills {
    position: relative;
    left: 100vw;
    grid-area: main;
    background-color: rgb(43, 255, 0);
    transition: position;
    transition:left 0.2s linear;
}



.in-focus {
    position: relative;
    left: 0 !important;
}

@media screen and (max-width: 700px) {
    nav button {
        margin: 10px;
        height: 70px;
        width: 70px;
        font-size: 0.8em;

    }

}