* {
    box-sizing: border-box;
}

@font-face {
    font-family: "dubiel";
    src: url('../static/fonts/DUBIEL.TTF');
}

:root {
    --header-background-color: rgba(247, 247, 247, 0.589);
    --nav-button-background-color: rgb(48, 48, 48);
    --main-page-background-color: rgba(255, 255, 255, 0.651);
    --accent-color: #8ac5bd;
    
}

html {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    
    height: 100%;
    display: grid;
    grid-template-areas:    'header header header header header'
                            'sidebar content content content content';
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100vh 100%;
    margin: 0;
    padding: 0;
}

.header {
    grid-area: header;
    color: rgb(136, 135, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'dubiel';
    z-index: -2;
    margin: 0;
    padding: 0;
    background-color: var(--header-background-color);
}

.header-image {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -2;
    filter: grayscale();
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header h1 {
    flex-grow: 1;
    font-size: 4.5rem;
}

.header h2 {
    flex-grow: 1;
    font-size: 3rem;
    color: var(--accent-color);
}

.header .description {
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.sidebar {
    grid-area: sidebar;
    background-color: var(--main-page-background-color);
}

nav {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-left: 5%;
}

nav button {
    border: none;
    width: 120px;
    font-size: 1.2em;
    background-color: var(--nav-button-background-color);
    color: white;
    border-bottom: 1px solid white;
    flex-grow: 1;
}

nav button:hover {
    color: rgb(40, 85, 71);
    background-color: var(--accent-color);
}

.main-content {
    grid-area: content;
    height: 100%;
    background-color: var(--main-page-background-color);
}

.content {
    grid-area: content;
    padding: 0;
    background-color: var(--main-page-background-color);
    overflow: hidden;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.content > div {
    padding: 10px;
    border: 1px solid red;
    height: 50vh;
    flex-shrink: 0;
}

.content .projects {
    color: red;
    order: 5;
    
}

.content .about-me {
    color: blue;
    order: 1;

}

.content .experience {
    color: green;
    order: 5;
}

.content .contact {
    color: purple;
    order: 5;
}

.content .skills {
    color: darkorange;
    order: 5;
}

@media screen and (max-width: 700px) {
    nav button {
        margin: 10px;
        height: 70px;
        width: 70px;
        font-size: 0.8em;

    }

}